@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #f9edd7;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
